.jumbotron {
  background-image: url('/assets/background.jpg');
  background-size: cover;
  background-position: center;
  color: white;
  padding: 4rem 2rem;
}

.jumbotron h1 {
  font-size: 2.5rem;
  font-weight: bold;
}

.jumbotron p {
  font-size: 1.25rem;
}

.input-group-append .btn {
  border-color: #fff;
}

.list-group-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.list-group-item:hover {
  background-color: #beb8be;
}

.list-group-item .badge {
  background-color: #b3b3b3;
}

.nav-item:hover .nav-link {
  background-color: #1f94e8;
  border-radius: 5px;
}
